<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">

			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Class Schedule Management System
			</p>
		</div>
		<div class="row" ng-hide="authentication.user">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/signin" target="_self">Sign In</a> to continue
			</p>
		</div>
	</div>


	<br>Developed By Sharmin
</section>
