<section data-ng-controller="SectionsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Section</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="course">Course</label>
                    <div class="controls">
                        <select data-ng-options="o.title for o in courseList" id="course" data-ng-model="selectedCourse" required></select>
                    </div>
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="day">Day</label>
                    <div class="controls">
                        <select data-ng-options="d for d in days" id="day" data-ng-model="selectedDay" required></select>
                        <!--<input type="text" data-ng-model="day" id="day" class="form-control" placeholder="Day" required>-->
                    </div>
                    <label class="control-label">Start</label>
                    <div class="controls">
                        <timepicker data-ng-model="start" id="start" show-meridian="true"></timepicker>
                        <!--<input type="text" data-ng-model="start" id="start" class="form-control" placeholder="Start" required>-->
                    </div>
                    <!--<span>{{start | date: 'shortTime'}}</span>-->
                    <label class="control-label">End</label>
                    <div class="controls">
                        <timepicker data-ng-model="end" id="end" show-meridian="true"></timepicker>
                        <!--<input type="text" data-ng-model="end" id="end" class="form-control" placeholder="End" required>-->
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
