<section data-ng-controller="SectionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Sections</h1>
    </div>
    <div class="pull-right">
        Search: <input ng-model="searchText">
    </div>
    <br/><br/>
    <div class="list-group">
        <a data-ng-repeat="section in sections | filter:searchText" data-ng-href="#!/sections/{{section._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="section.created | date:'medium'"></span>
				by
				<span data-ng-bind="section.user.displayName"></span>
			</small><br>
            <label class="list-group-item-info">Course</label>
            <h4 class="list-group-item-heading" data-ng-bind="section.course"></h4>
            <label class="list-group-item-info">Section</label>
			<h4 class="list-group-item-heading" data-ng-bind="section.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!sections.$resolved || sections.length">
    	No Sections yet, why don't you <a href="/#!/sections/create">create one</a>?
    </div>
</section>
